.content
    .content-title.title-page My 
        span.highlighted-text projects 
    //- .content-box.project-box
    //-     .single-column-project-container
    //-         a(href='project-1.html')
    //-             .project-poster.clip-polygon-inverse
    //-                 img(srcset="./style/images/ux-placeholder.png 2x, ./style/images/ux-placeholder.png 1x"
    //-                     src="./style/images/ux-placeholder.png"
    //-                     alt="Casual Learning Research")
    //-             .project-info
    //-                 .project-title
    //-                     | The UX of Casual Online Learning
    //-                 .project-description
    //-                     | Understanding how young people learn online for pleasure 
    //-                     | (User research, User interviewing, Insight generation, Needs definition).
    //-             .project-button
    //-                 .ghost-button(style="padding: 20px 21px !important;") →
    .content-box.project-box   
        .single-column-project-container
            //- a(href='https://github.com/stoico/startup-map' target="_blank")
            a(href='startup-map.html')
                .project-poster.clip-polygon-inverse
                    img(srcset="./style/images/thumb@2x.png 2x, ./style/images/thumb.png 1x"
                        src="./style/images/thumb.png"
                        alt="Cross-platform native app")
                .project-info
                    .project-title Startup Map - Web application in Knockout.js
                    .project-description
                        | A single-page Knockout.js application that integrates the Google Maps API
                        | and the Lever API to display a map of startups.
                .project-button
                    .ghost-button(style="padding: 20px 21px !important;") →
    .content-box.project-box    
        .single-column-project-container
            //- a(href='https://github.com/stoico/python-flask-catalog' target="_blank")
            a(href='flask-app.html')
                .project-poster.clip-polygon
                    img(srcset="./style/images/flask-app@2x.png 2x, ./style/images/flask-app.png 1x"
                        src="./style/images/flask-app.png"
                        alt="Cross-platform native app")
                .project-info
                    .project-title
                        | Full-stack Python web app - Flask and SQLite
                    .project-description
                        | Flask web app with an SQL database 
                        | and Google APIs for authentication and authorization.
                        | Deployed on an Apache server with mod_wsgi.
                .project-button
                    .ghost-button(style="padding: 20px 21px !important;") →
    .content-box.project-box   
        .single-column-project-container
            //- a(href='https://github.com/stoico/react-native-app' target="_blank")
            a(href='react-native-app.html')
                .project-poster.clip-polygon-inverse
                    img(srcset="./style/images/thumb-seriesly@2x.png 2x, ./style/images/thumb-seriesly.png 1x"
                        src="./style/images/thumb-seriesly.png"
                        alt="Cross-platform native app")
                .ring-container
                    .ringring
                    .circle
                .project-info
                    .project-title
                        //- | Recommendation platform on TV series among friends (React Native)
                        | Recommendation platform - React Native and Firebase, for iOS and Android
                        //- | TV series recommendation platform from friends in React Native
                    .project-description
                        | Share and receive recommendations on what to watch next 
                        | from people you know. Tech stack: JavaScript, React, Firebase suite
                .project-button
                    .ghost-button(style="padding: 20px 21px !important;") →
        //- .single-column-project-container
        //-     div(style="display: flex; justify-content: center; align-items: center; height: 100%;")
        //-         .project-description(style="text-align: center; flex: 1;")
        //-             | Coming soon
            //- a(href='project-5.html')
                .project-info
                    .project-poster
                    .project-title
                        //- | Holland & Barrett - Voice User Interface
    .content-title.title-page(style="margin-top: 4vw !important") Currently working on
    .content-box.project-box
        .single-column-project-container
            a(href='upliftey.html')
                .project-poster.clip-polygon
                    img(srcset="./style/images/upliftey-thumb@2x.png 2x, ./style/images/upliftey-thumb.png 1x"
                        src="./style/images/upliftey-thumb.png"
                        alt="Casual Learning Research")
                .project-info
                    .project-title
                        | Upliftey.com
                    .project-description
                        | Guided self-reflection web app to build lasting self-esteem. Built with Vue and Nuxt.js.
                .project-button
                    .ghost-button(style="padding: 20px 21px !important;") →