div(style="margin: auto; width: fit-content;")
    img(style="margin: 50px 15px -25px;"
        srcset="./style/images/startup-award@2x.png 2x, ./style/images/startup-award.png 1x"
        src="./style/images/startup-award.png"
        alt="Design and UX Methodology diagram")
    img(style="margin: 50px 15px -25px;"
        srcset="./style/images/uxathon-award@2x.png 2x, ./style/images/uxathon-award.png 1x"
        src="./style/images/uxathon-award.png"
        alt="Design and UX Methodology diagram")