.main-container.blue-gradient
    if page.title === 'Portfolio'
        include ../particles/toggle-switch.pug
    .content-container
        .content-title Portfolio
        .project-body
            .project-category.first-category
                | User Experience Design
            .project-category.second-category
                | Software Development
            .project-container.first-category-bg
                a(href='project-1.html')
                    .project-poster

                    .project-title
                        | The UX of Casual Online Learning
            .project-container.second-category-bg
                a(href='project-2.html')                
                    .project-poster
                        img(srcset="./style/images/side-stack@2x.png 2x, ./style/images/side-stack.png 1x"
                            src="./style/images/side-stack.png"
                            alt="Cross-platform native app")
                    .ring-container
                        .ringring
                        .circle
                    .project-title
                        | Cross-platform native app - React Native
            .project-container.first-category-bg
                a(href='project-3.html')
                    .project-poster
                    .project-title
                        | The needs of product makers
            .project-container.second-category-bg
                a(href='project-4.html')
                    .project-poster
                        img(srcset="./style/images/map-stack@2x.png 2x, ./style/images/map-stack.png 1x"
                            src="./style/images/map-stack.png"
                            alt="Cross-platform native app")
                    .project-title Startup Map - Knockout.js
            .project-container.first-category-bg
                a(href='project-5.html')
                    .project-poster
                    .project-title
                        | Holland & Barrett - Voice User Interface
            .project-container.second-category-bg
                a(href='project-6.html')
                    .project-poster
                        img(srcset="./style/images/full-stack-stack@2x.png 2x, ./style/images/full-stack-stack.png 1x"
                            src="./style/images/full-stack-stack.png"
                            alt="Cross-platform native app")
                    .project-title
                        | Full-stack python web app - Flask
