.content
  .content-title.title-page Upliftey.com
  .content-subtitle 
    | Guided self-reflection app to build lasting self-esteem, with a focus on simplicity.
    div Building with Vue.js. Currently a work in progress.
  div(style="width: 960px; ")
  .grid-parent
    .div1.tile-style 
        img(srcset="./style/images/gallery/select-focus@2x.png 2x, ./style/images/gallery/select-focus.png 1x"
            src="./style/images/gallery/select-focus.png")
    .div2.tile-style 
        img(srcset="./style/images/gallery/select-time@2x.png 2x, ./style/images/gallery/select-time.png 1x"
            src="./style/images/gallery/select-time.png")
    .wide.tile-style 
        img(srcset="./style/images/gallery/landing@2x.png 2x, ./style/images/gallery/landing.png 1x"
            src="./style/images/gallery/landing.png")
    .div4.tile-style 
        img(srcset="./style/images/gallery/reflection@2x.png 2x, ./style/images/gallery/reflection.png 1x"
        src="./style/images/gallery/reflection.png")
    .div5.tile-style 
        img(srcset="./style/images/gallery/celebrate@2x.png 2x, ./style/images/gallery/celebrate.png 1x"
        src="./style/images/gallery/celebrate.png")
div(style='text-align: center; margin-top: 35px')
    .ghost-button.inactive-button
      | Private beta